{% extends 'gis/base.html' %}

{% block title %}
   Map
{% endblock %}

{% block content %}

      <h3>Map</h3>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet beatae delectus eaque eligendi enim labore
        maiores minima quae quidem voluptatum! Aspernatur error impedit inventore perferendis, quia sint sit soluta
        sunt?
    </div>
    <div>A delectus distinctio eum fugiat hic, incidunt, molestiae nesciunt nobis perferendis provident, reiciendis rem
        ut vitae! Corporis cupiditate distinctio dolore, doloremque eaque facere, iusto officia quasi quo quos suscipit
        tenetur.
    </div>
    <div>Accusantium cupiditate eius est eum explicabo fugit id in inventore laudantium nam numquam obcaecati pariatur
        perferendis quam recusandae reiciendis repellendus unde veritatis, vitae voluptate! Impedit, porro quisquam.
        Dolore, necessitatibus rerum!
    </div>
    <div>Debitis dicta dignissimos dolor dolorem error numquam quasi quibusdam recusandae repudiandae voluptatem.
        Eligendi eos id laudantium molestias nisi perspiciatis vero? Aliquid doloremque dolores ducimus ex minima porro
        similique unde vero!
    </div>
    <div>Exercitationem perspiciatis, quibusdam! Accusamus accusantium ad alias aliquid animi autem, deserunt dicta ea
        earum enim, fugiat harum laudantium molestias natus possimus qui quis repudiandae saepe velit, veniam.
        Consequatur, expedita, ipsam?
    </div>

{% endblock %}